.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

picture.main-bg {
    position: absolute;
    z-index: -1;
    height: clamp(820px, 900px, 100vw);
    width: 100%;
}

picture.main-bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: inherit;
    padding: 20px 80px 0px;
    background-position: 50% 0;
}

body {
    margin: 0;
}

main {
    display: inline-block;
}

.blur {
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: none;
}

.blur.active {
    display: block;
}

.our_address {
    font-family: 'Formular';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #be81bc;
    margin-bottom: 2px;
}

.location {
    font-family: 'Formular';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    width: 173px;
    height: 18px;
    margin-top: 0;
    color: #5e055b;
}

.time_orders {
    font-family: 'Formular';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #be81bc;
    margin-bottom: 2px;
}

.orders {
    font-family: 'Formular';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    width: 173px;
    height: 18px;
    margin-top: 0;
    color: #5e055b;
}

.number {
    font-family: 'Formular';
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    color: #5e055b;
    height: 23px;
    text-decoration: none;
    margin-bottom: 0;
}

.back_call {
    font-family: 'Formular';
    font-weight: 500;
    font-size: 13px;
    margin-top: 2px;
    color: #ff646d;
    line-height: 16px;
}

.search {
    margin-top: -25px;
    border-radius: 30px;
    width: 208px;
    background-color: #fee0f9;
    height: 42px;

}

.glass {
    margin-left: -150px;
    margin-top: 13px;
    margin-bottom: 11px;
}

.cart {
    border-radius: 50%;
    background-color: #FFFF;
    width: 42px;
    height: 42px;
    margin-left: 45px;
    margin-right: 10px;
}

.purchases {
    margin: 13px 10px 13px 10px;

}

.product_block {
    padding: 0 95px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.kartinka {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
    bottom: -85px;
}

.product_wrapper {
    position: relative;
    z-index: 5;
}

.burger span {
    display: block;
    width: 55px;
    height: 1px;
    margin-bottom: 9px;
    background-color: #5D055B;
}

.burger {
    margin-top: 20px;
}

.menu {
    position: absolute;
    margin-top: 80px;
    max-height: 0px;
    transition: .4s;
    overflow: hidden;
}

.menu.active {
    max-height: 100%;
}


.menu_item {
    width: 185px;
    color: #5E055B;
    margin-bottom: 25px;
    font-weight: 900;
    font-family: 'Formular';
    font-size: 19px;
    line-height: 23px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 0.5px solid #BE81BC;
    padding: 0px 5px 10px;
}

.text {
    text-align: center;
    font-family: 'Formular';
    font-size: 19px;
    font-weight: 900;
    line-height: 1.4;
    color: #5E055B;
    text-transform: uppercase;
}

.img {
    border-radius: 140px;
    border: 4px solid #FFFF;
    margin-bottom: 40px;
}

.product_item:hover .img {
    border-color: #FF646D;
}

.product_item:hover .text {
    color: #FF646D;

}

.main_title h1 {
    margin-top: 235px;
    margin-bottom: 300px;
    font-family: 'Formular';
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #FFFF;
    text-align: center;
    padding: 0 50px;
}

.red_btn button {
    margin-bottom: 124px;
    border: none;
    padding: 21px 61px;
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(255, 101, 110, 0.8) 0%, #FF4F59 100%);
    box-shadow: 0px 4px 13px rgba(66, 7, 60, 0.44);
    border-radius: 32px;
}

.red_btn button p {
    margin: 0;
    font-family: 'Formular';
    font-weight: 900;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFF;
}

.red_btn {
    width: fit-content;
    margin: 0 auto;
}

.phone_btn {
    display: none;
}

.product_item img {
    width: 100%;
    height: 100%;
}

.burger_menu span {
    display: block;
    width: 35px;
    height: 2px;
    margin-bottom: 6px;
    background-color: #5D055B;
}

.menu_burger_logo {
    width: 112px;
    height: 27px;
    margin-left: 98px;
    position: absolute;
    margin-top: -43px;
}

.burger button {
    background-color: transparent;
    border: none;
}

.menu_burger {
    display: none;
}

.block_contact {
    display: none;
}

.span_burger button {
    background-color: transparent;
    border: none;
}

.search_btn {
    background-color: transparent;
    border: none;
}

.search_main.active {
    display: block;
}

.search_main {
    display: none;
    position: absolute;
    z-index: 15;
    width: 728px;
    height: 42px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 9px 24px rgba(57, 20, 54, 0.21);
    backdrop-filter: blur(15px);
    margin-left: 17px;
    margin-top: 17px;
}

.loop_search {
    margin-left: 15px;
    margin-top: 13px;
    width: 18px;
    height: 18px;
}

.search_text {
    margin: -23px 0 9px 54px;
    padding: 0;
    width: 59px;

    font-family: 'Formular';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;

    color: #BE81BC;

}

.white_btn_head {
    display: flex;
    flex-wrap: nowrap;
}

.phone_number {
    margin-right: 20px;
}