@media (max-width: 760px){


.menu{
    display: none;
}
.address{
    display: none;
}
.time_work{
    display: none;
}
.phone_number{
  display: none;
}
.search{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    padding: 13px 12px 11px 13px;
    margin: 0 13px;
}
.glass{
  margin: 0;
  width: 20px;
  height: 20px;
}
.phone_btn{
    display: block;
    background-color: #fee0f9;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    padding: 13px 12px 11px 13px;
}
.phone_btn_image{
    margin:0;
    width: 22px;
    height: 22px;
}
.logo{
    margin-right: 135px;
    width:133px;
    height: 33px;
    margin-bottom: 0;
    padding: 0;
}
header{
padding: 15px 13px 0 13px;
justify-content: initial;
}
.product_block{
    flex-wrap: wrap;
    padding: 0 40px;
    margin: 0;
}
.product_item{
    width: calc(100% / 3 - 30px);
    padding: 0;
    margin: 15px;
}
img{
    width: 100%;
}
.cart{
    width: 45px;
    height: 45px;
    margin:0;
}
.burger{
    margin-right: auto;
    margin-top: 12px;
}
.burger span{
    margin: 0;
    height: 2px;
    width: 35px;
}
.burger span:nth-child(2){
    margin: 6px 0 ;
}
.purchases{
    width: 27px;
    height: 27px;
    margin: 0;
    border-radius: 50px;
    padding: 9px;
    
}
.main_title h1{
    margin-top: 256px;
    margin-bottom: 215px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
}
.conteiner{
    background-image: url(/flat-lay-beautiful-assortment-flowers923.jpg);
}
.red_btn button{
    margin-bottom: 92px;
}
.logo img{
    height: 100%;
    margin-top: 7px;
}
.kartinka{
    bottom: -185px;
}





































}